# virtualizations
env/

# Global vars
.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore cached folders
__pycache__/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs
*.log